@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0;
  outline: none;
  cursor: pointer;
  background: none;
  border: none;
}

/* class to hide content visually leaving it available to screenreaders.
See notes in cookbook recipe.
https://github.com/h5bp/html5-boilerplate/issues/1985#issuecomment-394096182
https://medium.com/@matuzo/writing-css-with-accessibility-in-mind-8514a0007939
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

svg {
  width: 1em;
  height: 1em;
  display: inline-block;
  top: 0.125em;
  position: relative;
}

.main .search_box {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1rem;
  height: 50px;
  background-color: #f1f1f3;
  border-radius: 25px;
  padding: 15px;
}
.main .search_box svg {
  margin-right: 15px;
  width: 20px;
  fill: #676767;
}
.main .search_box input {
  border: none;
  background: none;
  width: 100%;
}
.main .search_box input::placeholder {
  color: #676767;
  font-weight: 800;
}

nav.pagination {
  display: flex;
  justify-content: center;
}
nav.pagination ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav.pagination ul li {
  margin: 0 0.2rem;
}
nav.pagination ul a {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid #37373c;
  border-radius: 0.2em;
  text-decoration: none;
  color: #37373c;
}
nav.pagination ul a[aria-current=page] {
  background-color: #8080ff;
  border-color: #8080ff;
  color: #fff;
}

.hero {
  height: 300px;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  background-image: url("../img/book_lover.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}
.cards ::-webkit-scrollbar {
  display: none;
}
.cards::after {
  content: "";
  display: block;
  min-width: 1rem;
}
.cards .card {
  flex: 0 0 auto;
  margin-left: 1rem;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}
.cards .card img {
  display: block;
  height: 200px;
}

.categories .card {
  text-decoration: none;
  display: block;
  background-color: transparent;
  background-image: attr(data-image url);
  background-size: cover;
  width: 200px;
  height: 100px;
}
.categories .card p {
  color: white;
  margin-left: 1rem;
  line-height: 100px;
  font-weight: bold;
}

article form {
  margin: 0 auto;
  max-width: 400px;
  padding: 0 1rem;
}
article form .title {
  font-size: 2rem;
  margin: 1rem 0 1rem 0;
  font-weight: bold;
  line-height: 1.5;
}
article form label, article form .rate {
  display: block;
  margin: 2rem 0;
}
article form input[type=text], article form input[type=password], article form textarea {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 2rem 0;
  border: none;
  outline: none;
  background-color: #f1f1f3;
  border-radius: 10px;
  font-family: inherit !important;
  font-size: 0.8rem;
}
article form input[type=text]::placeholder, article form input[type=password]::placeholder, article form textarea::placeholder {
  font-size: 0.8rem;
  color: #676767;
  font-weight: 800;
}
article form .cover_label {
  margin: 1rem auto;
  padding: 15px;
  color: white;
  background-color: #8080ff;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
article form .cover_label svg {
  fill: white;
  margin-right: 10px;
  vertical-align: middle;
  top: 0;
  font-size: 1.5em;
}
article form .cover_label span {
  vertical-align: middle;
}
article form input[type=file] {
  display: none;
}
article form button {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin: 1rem auto;
  padding: 15px;
  color: white;
  background-color: #9cdaa5;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
  margin: 0 !important;
}

.rate:not(:checked) > label:before {
  content: "★ ";
}

.rate > input:checked ~ label {
  color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

body {
  background-color: #f5f5f8;
  font-family: "Lato", sans-serif;
}

a {
  color: #8080ff;
}

.title {
  font-size: 2rem;
  margin: 2rem 1rem;
  font-weight: bold;
  line-height: 1.5;
}

.color-blue {
  color: #8080ff;
}

.color-green {
  color: #9cdaa5;
}

.color-orange {
  color: #ffb883;
}

header {
  display: flex;
  justify-content: space-between;
}
header a {
  height: 75px;
  max-width: calc(100% - 2*75px);
  padding: 15px;
  position: relative;
  top: -6px;
}
header a img {
  display: block;
  width: 100%;
  height: 100%;
}
header .menu_icon {
  display: block;
  height: 75px;
  width: 75px;
  padding: 15px;
  font-size: 2rem;
  z-index: 5;
}
header .hidden {
  visibility: hidden;
}

body.opened #menu-toggle {
  fill: white;
}

.nav {
  position: fixed;
  top: 0;
  width: 80%;
  height: 100%;
  display: grid;
  /* justify-content: center; */
  align-content: center;
  background-color: #37373c;
}

.nav ul {
  margin: 2rem;
}

.nav ul li a {
  display: block;
  padding: 2rem;
  text-decoration: none;
  color: #f1f1f3;
  font-weight: bold;
}

.nav a svg {
  width: 1em;
  height: 1em;
}

.nav a .icon, .nav a span {
  display: inline-block;
  vertical-align: middle;
}

.nav a .icon {
  margin-right: 1rem;
  fill: #f1f1f3;
  font-size: 1.2em;
  top: 0;
}

.nav {
  transition: transform 0.2s ease;
  transform: translateX(100vw);
}

.opened .nav {
  transform: translateX(20vw);
}

section > h2 {
  font-size: 1.2rem;
  margin: 1rem;
  font-weight: lighter;
}

article.book h2, article.book h3 {
  text-align: center;
  margin: 1rem 0;
}
article.book h2 {
  font-size: 2rem;
  font-weight: bold;
}
article.book h3 {
  font-size: 1rem;
  color: #37373c;
}
article.book img {
  display: block;
  margin: 1rem auto;
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
}
article.book .bottom_desc {
  padding: 1rem;
  background-color: #f5f5f8;
}
article.book .bottom_desc h2 {
  font-size: 1.5rem;
  text-align: left;
}
article.book .bottom_desc p {
  text-align: justify;
  line-height: 1.5;
  margin: 1rem 0;
}
article.book .bottom_desc .buttons {
  display: flex;
  justify-content: space-around;
}
article.book .bottom_desc .buttons button {
  margin: 1rem auto;
  padding: 1rem 2rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
}
article.book .bottom_desc .buttons button.contact {
  background-color: #8080ff;
}
article.book .bottom_desc .buttons button.borrow {
  background-color: #9cdaa5;
}

article.book_list {
  margin: 1rem 0;
}
article.book_list .title {
  font-size: 2rem;
  margin: 2rem 1rem;
  font-weight: bold;
  line-height: 1.5;
}
article.book_list .title i {
  font-style: italic;
  font-weight: 400;
  font-size: 1.5rem;
}
article.book_list .book {
  display: flex;
  margin: 2rem 1rem;
}
article.book_list .book img {
  display: block;
  height: 150px;
  margin-right: 1rem;
  border-radius: 10px;
}
article.book_list .book .info {
  line-height: 1.5;
}
article.book_list .book .info h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}
article.book_list .book .info p {
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

article.book_add h2 {
  font-size: 1.5rem;
  margin: 2rem 0;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
