article.book {

	& h2, h3 {
		text-align: center;
		margin: 1rem 0;
	}

	& h2 {
		font-size: 2rem;
		font-weight: bold;
	}

	& h3 {
		font-size: 1rem;
		color: $black;
	}

	& img {
		display: block;
		margin: 1rem auto;
		width: 100%;
		max-width: 200px;
		border-radius: $radius;
	}

	& .bottom_desc {

		padding: 1rem;
		background-color: $background;

		& h2 {
			font-size: 1.5rem;
			text-align: left;
		}

		& p {
			text-align: justify;
			line-height: 1.5;
			margin: 1rem 0;
		}

		& .buttons {
			display: flex;
			justify-content: space-around;

			& .btn {
				&.contact {
					background-color: $blue;
				}
				&.borrow {
					background-color: $green;
				}

				margin: 1rem auto;
				padding: 1rem 2rem;
				color: white;
				font-size: 1rem;
				font-weight: bold;
				border-radius: $radius;
			}
		}

	}

}
