@mixin btn($color, $background) {
	margin: 1rem auto;
	padding: 1rem 2rem;
	//padding: 15px;

	color: $color;
	background-color: $background;
	font-size: 1rem;
	font-weight: bold;
	border-radius: $radius;
	cursor: pointer;
	text-decoration: none;

	& svg {
		fill: $color;
		margin-right: 10px;
		vertical-align: middle;
		top: 0;
		font-size: 1.5em;
	}
}

.btn {
	@include btn(white, $green);
}

.buttons {
	display: flex;
	justify-content: space-around;

	& .btn:nth-child(3n + 1) {
		background-color: $blue;
	}

	& .btn:nth-child(3n + 2) {
		background-color: $green;
	}

	& .btn:nth-child(3n + 3) {
		background-color: $orange;
	}
}