.main {

}

.main .search_box {
    display: flex;
    justify-content: space-between;
    margin: var(--margin);
    height: 50px;

    background-color: var(--grey1);
    border-radius: 25px;
    padding: 15px;
}

.main .search_box svg {
    margin-right: 15px;
    width: 20px;
    fill: var(--grey2);
}

.main .search_box input {
    border: none;
    background: none;
    width: 100%;
}

.main .search_box input::placeholder {
    color: var(--grey2);
    font-weight: 800;
}

.main section h2 {
    margin: var(--margin);
    color: var(--black2);
    font-weight: bold;
}

.main .cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
}

.main .cards::-webkit-scrollbar {
    display: none;
}

.main .cards::after {
    content: "";
    display: block;
    min-width: var(--margin);
}

.main .card {
    flex: 0 0 auto;
    margin-left: var(--margin);
/ / width: 200 px;
/ / height: 200 px;
    background-color: white;
    border-radius: var(--radius);
    overflow: hidden;
}

.main .card img {
    display: block;
    height: 200px;
}

.categories .card {
    text-decoration: none;
    display: block;
    background-color: transparent;
    background-image: attr(data-image url);
    background-size: cover;
    width: 200px;
    height: 100px;
}

.categories .card p {
    color: white;
    margin-left: var(--margin);
    line-height: 100px;
    font-weight: bold;
}
